<!doctype html>
<html lang="en" class="bg-dark">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {{!-- font awesome icons --}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

    <link rel="stylesheet" href="style/{{style}}">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <title>{{title}}</title>
  </head>
  <body class="container rounded bg-transparent text-white p-4 mt-5">
    <h1 class="mb-5 font-weight-bold">{{title}}</h1>
    {{#if userinfo}}
      <h4 class="mb-5">
        Welcome back, {{userinfo.given_name}} !
        <strong class="ml-3"><a href="/logout" style="text-decoration: none"><i class="fas fa-sign-out-alt mr-2"></i>Click here to log out</a></strong>
      </h4>
    {{/if}}
    <main>
      {{{body}}}
    </main>
  </body>
</html>
